@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Roboto Mono', monospace;
	font-display: swap;
    background-color: #050505;
    overflow-x: hidden;
    color: rgb(156 163 175);
}

h1 {font-size:1.5em; color:white; margin-bottom: 0.5em; font-weight: 800;}
h2 {font-size:1.2em; color:white; margin-bottom: 0.5em; font-weight: 800;}
h3 {font-size:1.1em; color:white; margin-bottom: 0.5em; font-weight: 800;}
ul {list-style-type: disc; margin-left: 1em; margin-bottom: 0.5em;}
li {margin-bottom: 0.5em;}
section {margin-bottom: 1em;}